@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: feSpotLight) {
  :root {
    --foreground-rgb: 255, 255, 255;
    
  }
}

body {
  
  background-color: #121212;
  font-family: 'Helvetica', sans-serif;
  color: white;

}

button {
  background-color: black;
  
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #28292C;
}



.large-input {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  max-width: 370px; /* Ancho máximo */
  height: 20px; /* Altura */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  border: 1px solid #43454A; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #28292C; /* Fondo */
  color: #e5e5e5; /* Color del texto */
}


